<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stagb Admin Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="semantic/dist/semantic.min.css" rel="stylesheet" />
    <link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="plugins/pacejs/pace.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.ico" />

</head>
<body>
    <div id="contextWrap">
        <!--sidebar-->
        <div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
            <a class="item logo" href="index.html">
                <img src="img/logo.png" alt="stagblogo" /><img src="img/thumblogo.png" alt="stagblogo" class="displaynone" />
            </a>
            <div class="ui accordion inverted">
                <div class="title item">
                    <i class="ion-flame titleIcon icon"></i>
                    <i class="dropdown icon"></i> 瑜伽管理
                </div>
                <div class="content">
                    <a class="item" href="yogaManagement.html">
                            瑜伽信息管理
                        </a>
                        <a class="item" href="addYoga.html">
                            添加瑜伽姿势
                        </a>
                    </div>
                    <div class="title item">
                        <i class="ion-arrow-graph-up-right titleIcon icon"></i>
                    
                        <i class="dropdown icon"></i> 用户管理
                    </div>
                    <div class="content">
                        <a class="item" href="usrInfo.html">
                            用户信息
                        </a>
                        <a class="item" href="usrFav.html">
                            用户收藏
                        </a>
                        <a class="item" href="usrStudyRecord.html">
                            学习记录
                        </a>

                </div>

            </div>
            <div class="ui divider"></div>
            <a class="item" href="typography.html">
                <i class="ion-printer icon"></i> <span class="colhidden">Typography</span>
            </a>
            <a class="item" href="document.html">
                <i class="ion-code icon"></i> <span class="colhidden">Document</span>
            </a>
            <div class="ui divider"></div>
<a class="item">
                <div class="ui inverted progress tiny yellow" id="sidebar_progress1">
                    <div class="bar">

                    </div>
                    <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">Yoga Conut</span></div>
                </div>

            </a>

            <a class="item">
                <div class="ui inverted progress tiny teal" id="sidebar_progress2">
                    <div class="bar">

                    </div>
                    <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">User Conut</span></div>
                </div>

            </a>
            <a class="item">
                <div class="ui inverted progress tiny blue" id="sidebar_progress3">
                    <div class="bar">

                    </div>
                    <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">Compare Conut</span></div>
                </div>

            </a>
            <div class="ui divider"></div>

            <a class="item hiddenCollapse">
                <div class="ui one mini inverted statistics">
                    <div class="statistic">
                        <div class="value">
                            3654
                        </div>
                        <div class="label">
                            Downloads
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="text value">
                            Three<br> Thousand
                        </div>
                        <div class="label">
                            Views
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            <i class="ion-paperclip icon"></i> 15
                        </div>
                        <div class="label">
                            Attached File
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            <img src="img/avatar/people/carol.png" class="ui circular inline image"> 21254
                        </div>
                        <div class="label">
                            Team Members
                        </div>
                    </div>
                </div>
        </div>
        </a>
        <!--sidebar-->
        <div class="ui right sidebar">
            <div class="ui pointing secondary two item tabular menu">
                <a class="item active" data-tab="first"><i class="red icon ion-chatbox-working icon"></i></a>

                <a class="item" data-tab="fourth"><i class="blue icon ion-gear-a"></i></a>
            </div>
            <div class="ui tab active" data-tab="first">
                <div class="ui small feed">
                    <h4 class="ui header">Followers Activity</h4>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Abraham.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/carol.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Daryl.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/deana.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/enid.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Glenn.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Hershell.png" alt="label-image">
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Hershell.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Meggie.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Michonne.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Rick.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="img/avatar/people/Tara.png" alt="label-image" />
                        </div>
                        <div class="content">
                            <div class="summary">
                                You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                                <div class="date">
                                    3 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui tab" data-tab="fourth">
                <div class="ui form fluid">
                    <div class="grouped fields">
                        <label>Connection Limited</label>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="radio" name="throughput" checked="checked">
                                <label>20 mbps max</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="radio" name="throughput">
                                <label>10mbps max</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="radio" name="throughput">
                                <label>5mbps max</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox checked">
                                <input type="radio" name="throughput">
                                <label>Unmetered</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui form fluid">
                    <div class="grouped fields">
                        <label>Notifications</label>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" checked name="public">
                                <label class="coloring red">Enabled</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label class="coloring green">Updates</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>Comments</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>Chat</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>

                <h4 class="ui header">Navbar Color</h4>
                <div class="ui basic segment">

                    <ul class="colorlist">
                        <li>
                            <a class="ui segment yellow inverted" data-addClass="inverted yellow">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment red inverted" data-addClass="inverted red">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment blue inverted" data-addClass="inverted blue">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment black inverted" data-addClass="inverted black">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment orange inverted" data-addClass="inverted orange">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment pink inverted" data-addClass="inverted pink">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment green inverted" data-addClass="inverted green">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment purple inverted" data-addClass="inverted purple">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment violet inverted" data-addClass="inverted violet">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment brown inverted" data-addClass="inverted brown">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment teal inverted" data-addClass="inverted teal">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment greenli inverted" data-addClass="inverted greenli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment grey inverted" data-addClass="inverted grey">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment redli inverted" data-addClass="inverted redli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment yellowli inverted" data-addClass="inverted yellowli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment blueli inverted" data-addClass="inverted blueli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkpurpleli inverted" data-addClass="inverted darkpurpleli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkorangeli inverted" data-addClass="inverted darkorangeli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment greenli2 inverted" data-addClass="inverted greenli2">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment pinkli inverted" data-addClass="inverted pinkli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment lightyellowli inverted" data-addClass="inverted lightyellowli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkli inverted" data-addClass="inverted darkli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment lightbrownli inverted" data-addClass="inverted lightbrownli">
                            </a>
                        </li>
                    </ul>
                </div>
                <h4 class="ui header">Sidebar Color</h4>
                <div class="ui basic segment">

                    <ul class="sidecolor">
                        <li>
                            <a class="ui segment yellow inverted" data-addClass="inverted yellow">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment red inverted" data-addClass="inverted red">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment blue inverted" data-addClass="inverted blue">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment black inverted" data-addClass="inverted black">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment orange inverted" data-addClass="inverted orange">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment pink inverted" data-addClass="inverted pink">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment green inverted" data-addClass="inverted green">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment purple inverted" data-addClass="inverted purple">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment violet inverted" data-addClass="inverted violet">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment brown inverted" data-addClass="inverted brown">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment teal inverted" data-addClass="inverted teal">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment greenli inverted" data-addClass="inverted greenli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment grey inverted" data-addClass="inverted grey">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment redli inverted" data-addClass="inverted redli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment yellowli inverted" data-addClass="inverted yellowli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment blueli inverted" data-addClass="inverted blueli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkpurpleli inverted" data-addClass="inverted darkpurpleli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkorangeli inverted" data-addClass="inverted darkorangeli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment greenli2 inverted" data-addClass="inverted greenli2">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment pinkli inverted" data-addClass="inverted pinkli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment lightyellowli inverted" data-addClass="inverted lightyellowli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment darkli inverted" data-addClass="inverted darkli">
                            </a>
                        </li>
                        <li>
                            <a class="ui segment lightbrownli inverted" data-addClass="inverted lightbrownli">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pusher">
            <!--navbar-->
            <div class="navslide navwrap">
                <div class="ui menu icon borderless grid" data-color="inverted white">
                    <a class="item labeled openbtn">
                        <i class="ion-navicon-round big icon"></i>
                    </a>
                    <a class="item labeled expandit" onclick="toggleFullScreen(document.body)">
                        <i class="ion-arrow-expand big icon"></i>
                    </a>
                    <div class="item ui colhidden">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div class="right menu colhidden">

                        <div class="ui dropdown item labeled icon">
                            <i class="bell icon"></i>
                            <div class="ui red label mini circular">6</div>
                            <div class="menu">
                                <div class="header">
                                    People You Might Know
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/enid.png" alt="label-image" /> Janice Robinson
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/Hershell.png" alt="label-image" /> Cynthia May
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/Rick.png" alt="label-image" /> Hugh Carter
                                </div>
                                <div class="header">
                                    Your Friends' Friends
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/Meggie.png" alt="label-image" /> Pauline Cain
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/Glenn.png" alt="label-image" /> Marco Beck
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="img/avatar/people/Daryl.png" alt="label-image" /> Sue Quinn
                                </div>
                            </div>
                        </div>
                        <div class="ui dropdown item">
                            Language <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item"><i class="united kingdom flag"></i>English</a>
                                <a class="item"><i class="turkey flag"></i>Turkish</a>
                                <a class="item"><i class="spain flag"></i>Spanish</a>
                            </div>
                        </div>
                        <div class="ui dropdown item">
                            <img class="ui mini circular image" src="img/avatar/people/enid.png" alt="label-image" />
                            <div class="menu">
                                <a class="item" href="mail.html">Inbox</a>
                                <a class="item" href="profile.html">Profile</a>
                                <a class="item" href="settings.html">Settings</a>
                                <div class="ui divider"></div>
                                <a class="item">Need Help?</a>
                                <a class="item" href="login.html">Sign Out</a>
                            </div>
                        </div>
                        <a class="item labeled rightsidebar computer only">
                            <i class="ion-wrench large icon"></i>
                        </a>

                    </div>
                </div>
            </div>
            <!--navbar-->
            <!--maincontent-->
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <!--Site Content-->
                <!--Site Content-->

                        <div class="row">
                            <div class="sixteen wide tablet fourteen wide computer column">
                                <div class="ui segments">
                                    <div class="ui segment">
                                        <h5 class="ui header">
                                            AddYoga
                                        </h5>
                                    </div>
                                    <form class="ui form segment form1">
                                        <p>添加瑜伽姿势的详细信息</p>
										<div class="ui divider"></div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>瑜伽姿势名称</label>
                                                <input placeholder="YogaName" id="yoganame" type="text">
                                            </div>
                                            <div class="field">
                                                <label>所属等级</label>
                                                <div class="ui dropdown selection" tabindex="0">
                                                    <select id="level">
                                                        <option value="">所属等级</option>
                                                        <option value="1">初级</option>
                                                        <option value="2">中级</option>
														<option value="3">高级</option>
                                                    </select>
													<i class="dropdown icon"></i><div class="default text">YogaLevel</div>
													<div class="menu" tabindex="-1"><div class="item" data-value="1">初级</div>
													<div class="item" data-value="2">中级</div>
													<div class="item" data-value="3">高级</div></div>
                                                </div>
                                            </div>
                                        </div>
										<div class="ui divider"></div>
										<div class="field">
										    <label>瑜伽姿势简单描述</label>
											<textarea placeholder="YogaDescription" id="imgdescription" cols="5"></textarea>										   
										</div>
										
										<input type="file" id="image">
										<div class="ui divider"></div>
										<div class="ui blue submit button" onclick="submit()">提交</div>	
                                    </form>
                                </div>
                            </div>
                            
                        </div>

                        


                    </div>
        </div>
        <!--maincontent-->
    </div>
    </div>
    <!--jquery-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!--jquery-->
    <!--semantic-->
    <script src="semantic/dist/semantic.min.js"></script>
    <!--semantic-->
<script src="plugins/cookie/js.cookie.js"></script>
    <script src="plugins/nicescrool/jquery.nicescroll.min.js"></script>

    <script data-pace-options='{ "ajax": false }' src="plugins/pacejs/pace.js"></script>
    <script src="js/customjs/custom-validation.js"></script>
    <script src="js/main.js"></script>
	<script>
		var formData=new FormData();
		formData.append("yoganame",document.getElementById("yoganame").value);
		var options=$("#level option:selected");
		formData.append("level",options.val());
		formData.append("imgdescription",document.getElementById("imgdescription").value);
		var file=document.getElementById("image");
		file.onchange=function(){			
			formData.append("image",file.files[0]);			
		};
		function submit(){
			$.ajax({
				url:"/home/addYoga",
				type:"POST",
				data:formData,
				success:function(response){
					alert("成功添加瑜伽姿势信息！");
				},
				error:function(e){
					alert("添加失败！请重新添加！");
				}
			});
		}
	</script>
</body>
</html>
